* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#GreyBox {
    background-color: #E6E7EB;
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 100%;
}

#WhiteBox {
    background-color: #FFFFF6;
    width: 850px;
    height: 500px;
    line-height: 900px;
    position: absolute;
    z-index: 1;
    top: 10%;
    bottom: 5%;
    left: 20%;
    right: 20%;
}

ul {
    list-style: none;
    padding-left: 225px;
}

ul li {
    display: inline;
    border-right: 2px solid #E6E7EB;
    padding-right: 10px;
    padding-left: 5px;
}

ul li:last-child {
    border: none;
}

span {
    font-weight: bold;
    border-bottom: 3px solid #4C5B9E;
    padding: 22px;
}

#BlueBox {
    background-color: #4C5B9E;
    color: white;
    width: 850px;
    height: 425px;
    position: absolute;
    z-index: 2;
    top: 10%;
    bottom: 5%;
    left: 20%;
    right: 20%;
}

h1 {
    padding-top: 300px;
    padding-left: 240px;
}

h2 {
    padding-left: 240px;
    font-weight: lighter;
}

#PhotoBox {
    background-color: #4C5B9E;
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 3;
    border: 1px solid black;
    margin-left: 265px;
    margin-top: 325px;
}