* {
    box-sizing: border-box;
}

body {
    background-color: #E6E7EB;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 400px;
    margin: 0;
    padding: 0;
}

#blueBox {
    width: 850px;
    height: 88%;
    background-color: #4C5B9E;
    margin: 0 auto;
}

#headerText {
    color: #FFFFF6;
    position: relative;
    top: 45px; 
    left: 250px;
}

#headerText h1 {
    font-weight: bold;
    font-size: 24px;
}

#headerText h2 {
    font-weight: lighter;
    font-size: 20px;
}

#photoBox {
    border: 1px solid black;
    width: 200px;
    height: 200px;
    background-color: #4C5B9E;
    position: relative;
    top: 185px;
    left: 25px;
}

#LikeButton {
    background-color: #E6E7EB;
    width: 75px;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    float: right;
    margin-right: 180px;
    border-radius: 5px;
}

#buttonBar {
    background-color: #E6E7EB;
    width: 200px;
    font-size: 15px;
    position: relative;
    float: right;
    border-radius: 5px;
}

#buttonBar div {
}

#whiteBox {
    width: 850px;
    height: 12%;
    background-color: #FFFFF6;
    margin: 0 auto;
}

#navList {
    margin-left: 250px;
}

#navList ul {
    margin: 0;
    padding: 0;
}

#navList ul li {
    color: black;
    display: inline-block;
    border-right: 2px solid #E6E7EB;
    padding-top: 10px;
    padding: 15px;
}

#navList ul li:first-child {
    font-weight: bold;
    border-right: 0;
    border-bottom: 2px solid #4C5B9E;
    padding: 0;
    padding-bottom: 10px;
}

#navList ul li:last-child {
    border: none;
}

#columnContainer {
    width: 850px;
    margin: 0 auto;
}

#leftColumn {
    width: 328px;
    float: left;
}

#rightColumn {
    width: 512px;
    float: right;
}

#aboutMe {
    background-color: #FFFFF6;
}

#aboutMe h4 {
    font-weight: bold;
    /* border-top: 1px solid black; */
    /* padding-top: 30px;
    margin-top: 30px; */
}

#aboutMe p {
    color: #4C5B9E;
}

#update1 {
    background-color: #FFFFF6;
}