* {
    box-sizing: border-box;
}

body {
    background-color: #E6E7EB;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 400px;
    margin: 0;
    padding: 0;
}

#blueBox {
    width: 850px;
    height: 80%;
    background-color: #4C5B9E;
    margin: 0 auto;
}

#blueBox h1, h2 {
    color: #FFFFF6;
    position: relative;
    top: 200px;
    left: 250px;
}

#photoBox {
    border: 1px solid black;
    width: 200px;
    height: 200px;
    background-color: #4C5B9E;
    position: relative;
    top: 170px;
    left: 25px;
}

#whiteBox {
    width: 850px;
    height: 20%;
    background-color: #FFFFF6;
    margin: 0 auto;
}

#whiteBox ul li {
    color: black;
    display: inline;
}